$yes-color: green; // #1abc9c
$no-color: red; // #de6868

html, body {
    height: 100%;
}
body {
    font-size: 16px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

/* LOGIN PAGE */
//form.login, form.create {
//    width: 500px;
//    margin: 0 auto;
//}
//form.login {
//    margin-bottom: 50px;
//    padding-top: 20px;
//}

/* MAIN PAGE */
#loggedin {
    position: fixed;
}
form#logout {
    position: fixed;
    top: 22px;
}

// Buttons
button#newIngredientsModal {
    position: absolute;
    top: 15px;
    right: 15px;
}
button#newRecipeModal {
    position: absolute;
    top: 15px;
}
.recipe-ingredient, .recipe-instruction {
    display: inline;
}

#newIngredients {

}
form.new-ingredients .form-group {
    display: inline-block;
}

.column {
    position: relative;
    float: left;
    width: 33%;
    height: 97%;
    overflow-y: scroll;
    vertical-align: top;
    padding: 0 1%;
    line-height: 1.3;
    .title {
        display: flex;
        font-size: 24px;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        text-align: center;
        height: 8%;
    }
    .subtitle {
        text-decoration: underline;
    }
}
.border {
    float: left;
    height: 100%;
    width: 0.5%;
    background-color: grey;
}
table {
    width: 100%;
    tr td div {
        display: inline-block;
    }
}
th {
    font-weight: 400;
    text-decoration: underline;
    text-align: left;
    &:focus {
        outline: none;
    }
}
.remaining {
    text-align: right;
}
//#ingredients div, .ingredients div, .item div {
//    display: flex;
//    justify-content: space-between;
//}
.item {
    cursor: pointer;
    &:hover {
        text-decoration: underline;
        // font-weight: 600;
    }
}
.selected {
    background-color: beige;
    // font-weight: 600;
    // text-decoration: underline;
}
#recipes {
    height: 92%;
    overflow: hidden;
    position: relative;
}
div.recipe {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    .name {
        font-size: 20px;
    }
}
.ingr-title, .instr-title {
    margin-top: 10px;
    text-decoration: underline;
}
.yes {
    color: $yes-color;
}
.no {
    color: $no-color;
}
